/* Step 1 - Add a nice background */
body {
	background-image: url(sky.jpg);
	background-repeat: no-repeat;
  font-family: serif;
  font-size: 20px;
  background-size:cover;
}

/* Step 2 - Add a nice card style */
.card {    
  float: left;
  position: relative;
  width: 30px;
  height: 60px;
  margin: 40px 20px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #bbb;
  box-shadow: 0 0 10px rgba(#000, 0.5);   
}

/* Step 3 - Add a nice hover effect */
.card:hover {
  top: -15px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
}

/* Step 4 (+4 points) - Write a style for a flipped card */
.flipped {
	opacity: 0.1;
  transition : 1s;
  background: grey;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
}

/* Step 5 - Add a nice style to the message element */
#message {
	font-size:1.5em;
  color: white;
  font-style: italic;
  text-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
    
}

/* Step 6 - Add 5 more style changes... */

/* 1) */
#score {
	opacity: 0.8;
	display:inline-block;
  width:100px;
  padding:5px;
  border: 1px dotted 	#999999; 
  width:150px;
 	border:1px solid gray;
  background:white;
}

/* 2) */
#reset {
	opacity: 0.8;
	display:inline-block;
  width:100px;
  padding:5px;
  border: 1px dotted 	#999999; 
 	border:1px solid gray;
  background:white;
}

/* 3) */
#heading {
  font-size:2em;
  color: white;
  text-align: center;
  font-family: sans-serif;
  text-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
}
